<div class="current-temperature">
    <div class="today-current-temperature">{{main.temp}}</div>
    <sup class="degree-symbol">&deg;</sup>
</div>
<img src="{{this.iconUrl}}" alt="{{this.weather.0.main}}">

{{this.name}}, {{this.sys.country}}

<ul class="minimax-block">

    <li class="today-min-temperature minimax">
        <span>min: </span>
        <div>
            <p id="today-min">{{this.main.temp_min}}</p>
            &deg;
        </div>
    </li>
    <li class="today-max-temperature minimax">
        <span>max: </span>
        <div>
            <p id="today-max">{{this.main.temp_max}}</p>
            &deg;
        </div>
    </li>
</ul>

<div class="js-current-sunset"></div>